africastalking==2.0
ansible==12.0.0
ansible-core==2.19.2
asgiref==3.9.1
cachetools==6.2.1
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
coverage==7.10.7
cryptography==46.0.1
dj-database-url==3.0.1
Django==5.2.6
django-heroku==0.3.1
djangorestframework==3.16.1
dotenv==0.9.9
google-api-core==2.26.0
google-auth==2.41.1
google-cloud-secret-manager==2.25.0
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.3
grpcio==1.75.1
grpcio-status==1.75.1
gunicorn==23.0.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
josepy==2.1.0
MarkupSafe==3.0.3
mozilla-django-oidc==4.0.1
packaging==25.0
pluggy==1.6.0
proto-plus==1.26.1
protobuf==6.33.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-mock==3.15.1
python-dotenv==1.1.1
PyYAML==6.0.2
qemu==0.0.0a1
requests==2.32.5
requests-mock==1.12.1
resolvelib==1.2.0
responses==0.25.8
rsa==4.9.1
schema==0.7.7
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
