- name: Setup Django SMS Service Environment
  hosts: test_hosts
  connection: local
  tasks:
    - name: Install Python and pip
      package:
        name:
          - python3
          - python3-pip
        state: present
      become: yes  # Requires sudo
    - name: Install project dependencies
      pip:
        requirements: "{{ playbook_dir }}/../requirements.txt"
        executable: pip3
    - name: Run Django migrations
      django_manage:
        command: migrate
        app_path: "{{ playbook_dir }}/../"
        virtualenv: "{{ playbook_dir }}/../venv"