- name: Setup Django SMS Service Environment
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: "{{ lookup('env', 'PWD') }}/venv/bin/python"
    app_path: "{{ playbook_dir }}/../orders_sms_service"
  tasks:
    - name: Install Python and pip
      package:
        name:
          - python3
          - python3-pip
        state: present
      become: yes  # Requires sudo
    - name: Install project dependencies
      pip:
        requirements: "{{ playbook_dir }}/../requirements.txt"
        executable: pip3
    - name: Run Django migrations
      django_manage:
        command: python3 {{ app_path }}/manage.py migrate
        PYTHONPATH: "{{ app_path }}:{{ app_path }}/orders_sms_service"
        virtualenv: "{{ playbook_dir }}/../venv"