- name: Setup Django SMS Service Environment
  hosts: localhost
  become: false
  connection: local
  vars:
    # ansible_python_interpreter: "{{ lookup('env', 'PWD') }}/venv/bin/python"
    app_path: "{{ playbook_dir }}/../"
    # virtualenv: "{{ playbook_dir }}/../venv"
  tasks:
    - name: Install Python and pip
      package:
        name:
          - python3
          - python3-pip
        state: present
      become: false  # Requires sudo
    - name: Install project dependencies
      pip:
        requirements: "{{ app_path }}/requirements.txt"
        executable: "{{ ansible_python_interpreter | default('pip3') }}"
    - name: Run Django migrations
      command: "{{ ansible_python_interpreter | default('python3') }} {{ app_path }}/manage.py migrate"
      environment:
        PYTHONPATH: "{{ app_path }}:{{ app_path }}/orders_sms_service"
        DJANGO_SECRET_KEY: "{{ lookup('env', 'DJANGO_SECRET_KEY') }}"
        DATABASE_URL: "sqlite:///:memory:"
        AFRICASTALKING_USERNAME: "sandbox"
        AFRICASTALKING_API_KEY: "{{ lookup('env', 'AFRICASTALKING_API_KEY') }}"
        OIDC_CLIENT_ID: "test-id"
        OIDC_CLIENT_SECRET: "test-secret"
        
        