- name: Setup Django SMS Service Environment
  hosts: localhost
  become: false
  connection: local
  vars:
    # ansible_python_interpreter: "{{ lookup('env', 'PWD') }}/venv/bin/python"
    app_path: "{{ playbook_dir }}/../"
    virtualenv: "{{ playbook_dir }}/../venv"
  tasks:
    - name: Install Python and pip
      package:
        name:
          - python3
          - python3-pip
        state: present
      become: false  # Requires sudo
    - name: Install project dependencies
      pip:
        requirements: "{{ playbook_dir }}/../requirements.txt"
        executable: pip3
    - name: Run Django migrations
      django_manage:
        command: "python3 manage.py migrate"
        project_path: "{{ playbook_dir }}/../"
        
        